<!DOCTYPE html>
<html lang="en">
  <%- include ('head') %>
  <body>
    <div class="wrapper">
      <%- include ('header') %> <%- include ('nav') %>
      <div class="main hero-right">
        <div class="author-main">
          <h2 class="author-name"><%= name%></h2>
          <div class="author-info">
            <% if(dateOfBirth) {%>
            <p class="author-dob">Date of Birth: <%=dateOfBirth%></p>
            <% } %> <% if(dateOfDeath) {%>
            <p class="author-dod">Date of Death: <%=dateOfDeath%></p>
            <% } %> <% if(description) {%>
            <p class="author-description">Description: <%=description%></p>
            <% } %>
          </div>
          <div class="author-books">
            <% if(authorBooks.length) { %> <% authorBooks.forEach((book) => {%>
            <p class="author-book">
              <a href="<%= book.url %>"><%= book.title %></a>
            </p>
            <% })} else { %>
            <p>There are no books of <%=name %></p>
            <% } %>
          </div>
        </div>
        <br />
        <div class="btn-box">
          <p class="update">
            <a href="<%=url%>/update">Update Author</a>
          </p>
          <p class="delete">
            <a href="<%=url%>/delete">Delete Author</a>
          </p>
        </div>
      </div>
      <%- include ('footer') %>
    </div>
  </body>
</html>
