<!DOCTYPE html>
<html lang="en">
  <%- include('head') %>
  <body class="wrapper">
    <%- include('header') %> 
    <%- include('nav') %>
    <div class="main">
    <% if (title === "update") {%>
    <h3>Update Author</h3>
    <% } else { %>
    <h3>Add a New Author</h3>
    <% } %>
    <div class="new new-author">
      <form action="/author/<%= title === "update" ? `${authorInfo.id}/update` : "add" %>" method="post" >
        <p class="firstname">
          <label for="firstname">First Name*: </label>
          <input 
          type="text" 
          name="firstname" 
          id="firstname" 
          value="<%= authorInfo.first_name || "" %>" required/>
        </p>
        <p class="lastname">
          <label for="lastname">Last Name*: </label>
          <input 
          type="text" 
          name="lastname" 
          id="lastname" 
          value="<%= authorInfo.last_name || "" %>" required/>
        </p>
        <p>
          <label for="date-of-birth">Date of Birth: </label>
          <input type="date" 
          name="dateOfBirth" 
          id="date-of-birth" 
          value="<%=authorInfo.date_of_birth || "" %>">
        </p>
        <p>
          <label for="date-of-death">Date of Death: </label>
          <input 
          type="date" 
          name="dateOfDeath" 
          id="date-of-death" 
          value="<%= authorInfo.date_of_death || "" %>">
        </p>
        <p class="about-author">
          <label class="overview" for="about-author">About: </label>
          <textarea
            class="overview textarea"
            type="text"
            name="aboutAuthor"
            id="about-author"
            rows="3"
            cols="33"
          ><%= authorInfo.description || "" %></textarea
          >
        </p>
        <p>
          <button class="btn" type="submit">Submit</button>
        </p>
      </form>
      <% if(errors) {%>
      <ul class="errors">
        <% errors.forEach((error) => {%>
        <li><%= error.msg %></li>
      </ul>
      <% })} %>
    </div>
    </div>
    <br />
    <%- include('footer') %>
  </body>
</html>
