<!DOCTYPE html>
<html>
  <%- include ('head') %>
  <body>
    <%- include ('header') %>
    <h2><%= `${title}: ${bookInfo.title}` %></h2>
    <p>
      <b> Are your sure you want to delete <%= bookInfo.title %>? </b>
      <b>This action cannot be undone.</b>
    </p>
    <form action="" method="post">
      <div class="form-group">
        <input type="hidden" name="bookid" , value="<%= bookInfo.id %>" />
      </div>
      <button type="submit">Delete</button>
      <button type="button"><a href="/">Back to home</a></button>
    </form>
    <%- include ('footer') %>
  </body>
</html>
