<!DOCTYPE html>
<html lang="en">
  <%- include ('head') %>
  <body>
    <%- include ('header') %>
    <div class="book-info">
      <h2><%= book.title %></h2>
      <p>
        <span class="op">Author:</span>
        <a href="<%= author.url %>"><i><%= author.name %></i></a>
      </p>
      <p>
        <span class="op">ISBN:</span>
        <%= book.isbn %>
      </p>
      <p>
        <span class="op">Pages:</span>
        <%= book.pages %>
      </p>
      <p>
        <span class="op">Language:</span>
        <span><%= book.language %></span>
      </p>
      <p>
        <span class="op">Date Added:</span>
        <%= dateAdded %>
      </p>
      <p>
        <% if (book.reading) { %> 
          <span class="op">Status: </span>
          Currently reading 
        <% } else if (book.read) { %> 
            <span class="op">Status: </span> 
            <span class="check">&#10004</span> Read 
        <% } else if (book.toRead) {%>
            <span class="op">Status: </span>
            <span>Want to read</span>
        <% } %>
      </p>
      <p>
        <span class="op"> Genre:</span>
        <% genres.forEach((genre) => { %>
        <span class="ge"><a href="<%= genre.url %>"><%=genre.name %></a> </span>
      <% }) %>
      </p>
      <div class="ds">
        <p>
          <span class="op">Description:</span>
          <span style="white-space: pre-line;"><%=book.description %></span>
        </p>
      </div>
    </div>
    <br>
    <p class="update">
      <a href="<%=book.url%>/update">Update Book</a>
    </p>
    <p class="delete">
      <a href="<%=book.url%>/delete">Delete Book</a>
    </p>
    <%- include ('footer') %>
  </body>
</html>
