<!DOCTYPE html>
<html lang="en">
  <%- include ('head') %>
  <body>
    <%- include ('header') %>
    <div class="book-info">
      <h2><%= book.title %></h2>
      <p>
        <span class="op">Author:</span>
        <i><%= author.name %></i>
      </p>
      <p>
        <span class="op">ISBN:</span>
        <%= book.isbn %>
      </p>
      <p>
        <span class="op">Pages:</span>
        <%= book.pages %>
      </p>
      <p>
        <span class="op">Language:</span>
        <span><%= book.language %></span>
      </p>
      <p>
        <span class="op">Date Added:</span>
        <%= dateAdded %>
      </p>
      <p>
        <span class="op">Status: </span>
        <% if (book.reading) { %> 
          Currently reading 
          <% } else { %>  
            <span class="check">&#10004</span> Read 
          <% } %>
      </p>
      <p>
        <span class="op"> Genre:</span>
        <% genres.forEach((genre) => { %>
        <span class="ge"><a href="<%= genre.url %>"><%=genre.name %></a> </span>
      <% }) %>
      </p>

      <div class="ds">
        <p>
          <span class="op">Description:</span>
          <span style="white-space: pre-line;"><%=book.description %></span>
        </p>
      </div>

    </div>
    <%- include ('footer') %>
  </body>
</html>
