<!DOCTYPE html>
<html lang="en">
  <%- include('head') %>
  <body class="wrapper">
    <%- include('header') %> 
    <%- include('nav') %>
    <div class="main">
    <% if( title === 'update') { %>
    <h3>Update Genre</h3>
    <% } else {%>
    <h3>Add a New Genre</h3>
    <% } %>
    <form action="/genre/<%= title === "update" ? `${genre.id}/update` : "add" %>" method="post">
      <p class="new new-genre">
        <label for="genre">Genre: </label>
        <input type="text" name="genre" id="genre" value="<%= genre.name || ""%>"/>
      </p>
      <p>
        <button class="btn" type="submit">Submit</button>
      </p>
    </form>
    <% if(errors) {%>
    <ul class="errors">
      <% errors.forEach((error) => {%>
      <li><%= error.msg %></li>
    </ul>
    <% })} %>
    </div>
    <br />
    <%- include('footer') %>
  </body>
</html>
