<!DOCTYPE html>
<html lang="en">
  <%- include ('head') %>
  <body>
    <%- include ('header') %>
    <p>All books will be displayed here</p>
    <a href="<%= books[0].url %>"> <%= books[0].title %> </a>
    <%- include ('footer') %>
  </body>
</html>
