<!DOCTYPE html>
<html lang="en">
  <%- include ('head') %>
  <body>
    <%- include ('header') %>
    <div class="books">
      <p class="books-title">
        <b>Books: </b>
        <span><%= books.length %></span>
      </p>
      <div class="books-main">
        <% if (books) {%> <% books.forEach( (book) => { %>
        <p>
          <a href="<%= book.url %>"> <%= book.title %> </a>
        </p>
        <%} ) %> <% } else { %>
        <p>There are no books, try add one <a href="/book/add">here</a></p>
        <% } %>
      </div>
    </div>
    <div class="genres">
      <p class="genres-title">
        <b>Genres: </b>
        <span><%= genres.length %></span>
      </p>
      <div class="genres-main">
        <% if (genres) {%> <% genres.forEach( (genre) => { %>
        <p class="genre"><a href="<%= genre.url %>"> <%= genre.name %> </a></p>
        <%} ) %> <% } else { %>
        <p>There are no genres</p>
        <% } %>
      </div>
    </div>
    <div class="authors">
      <p class="authors-title">
        <b>Authors: </b>
        <span><%= authors.length %></span>
      </p>
      <div class="authors-main">
        <% if (authors) {%> <% authors.forEach( (author) => { %>
        <p><a href="<%= author.url %>"> <%= author.name %> </a></p>
        <%} ) %> <% } else { %>
        <p>There are no authors</p>
        <% } %>
      </div>
    </div>
    <%- include ('footer') %>
  </body>
</html>
